.mian-content-1 {
  background: url(../images/centro-hero-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.comunicaciones img {
  /* width: 300px; */
  height: 300px;
  border-radius: 2%;
}
