.mian-content-1 {
  background: url(../images/graphic-banner-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

#dell-logo,
#huawei-logo {
  max-width: 65%;
}

.choose {
  background: url(../images/ibm-datacenter-asia.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}

.choose_top {
  padding: 55px 40px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 50%;
}

.infr-list {
  margin: 0;
  font-size: 0.85em;
  color: #8c9398;
  line-height: 2em;
  letter-spacing: 1px;
}

.infr-text,
.pers-computing-p {
  text-indent: 2em;
}

.column-to-row {
  flex-direction: column;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .column-to-row {
    flex-direction: row;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* //CSS */
  .column-to-row {
    flex-direction: column;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* //CSS */
  .column-to-row {
    flex-direction: row;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* //CSS */
  .column-to-row {
    flex-direction: row;
  }
}

@media (max-width: 384px) {
  .mian-content-1 {
    min-height: 160px;
  }
}
