.mian-content-1 {
  background: url(../images/Vmware-banner2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 295px;
}

.vmware-img img {
  max-height: 300px;
  border-radius: 10px;
  /* width: 100%; */
  /* box-shadow: 5px 10px #888888; */
  /* box-shadow: 5px 5px 4px 5px #888888; */
}

.advantage_left1 img {
  max-height: 300px;
  border-radius: 10px;
  width: 90%;
}

.choose {
  background: url(../images/vmware-background3.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}

.choose_top .vmware-button {
  background: rgb(112, 193, 91);
}

.vmware-servicios-ul {
  margin: 0;
  font-size: 0.85em;
  color: #8c9398;
  line-height: 2em;
  letter-spacing: 1px;
}

.vmware-p {
  text-indent: 2rem;
}

@media (max-width: 384px) {
  .mian-content-1 {
    min-height: 160px;
  }
}
